{% extends "blog/base.html" %}
{% block css %}
    <style type="text/css">

    </style>
{% endblock css  %}
{% block content %}
    <div class="content-section">
        <h3>Why i choose web development?</h3>
        <hr>
        <div>
            <p>Web development gives you the opportunity to express yourself creatively on the internet. If you have an idea you would like to try as you discover your web dev skills, try it out. Web dev is a fun, creative experience.</p>
        </div>
        <div>
            <p>Author: Dimitrioglo Veaceslav</p>
            <h5>Contact me:</h5>
            <table>
                <tr>
                    <td>
                        <li><i class="fab fa-github"></i><a href="https://github.com/Dimitrioglo" target="blank"> Github</a></li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/vdimitrioglo/" target="blank"> LinkedIn</a></li>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li><i class="fas fa-envelope" aria-hidden="true"></i> dimitrioglo.legacy@gmail.com</li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}
